.main-page__header {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 55px;
  background: #50caff;
}

.header-bottom__item {
  margin-left: 19px;
}

.header-bottom__avatar-btn {
  padding: 24.5px;
  border-radius: 50px;
  border: none;
}

.header-bottom__group {
  background: white;
  margin-left: 7px;
  margin-right: 40px;
  padding-top: 1.2px;
  padding-left: 3px;
  border-radius: 5px;
}

.header-bottom__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  white-space: nowrap;
}
