.main-page__header {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 55px;
  background: #50caff;
}

.header-bottom__title {
}

.header-bottom__menu {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  white-space: nowrap;
}
